<div class="outter-container">
  <form class="expense-form" (ngSubmit)="addExpense()" #expenseForm="ngForm">
    <div class="input-container">
      <label class="expense-input-label" for="name">Name</label>
      <input 
        class="expense-input" 
        placeholder="Name"
        type="text" 
        id="name" 
        [(ngModel)]="name" 
        name="name" 
        #nameInput="ngModel" 
      >
      <!-- Display error message if the name input is invalid -->
      <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error-message">
        Name is required
      </div>
    </div>
    <div class="input-container">
      <label class="expense-input-label" for="amount">Amount</label>
      <input
       placeholder="Amount"
       class="expense-input" 
       type="number" 
       id="amount" 
       [(ngModel)]="amount" 
       name="amount" 
       #amountInput="ngModel"
      >
      <!-- Display error message if the amount input is invalid -->
      <div *ngIf="amountInput.invalid && (amountInput.dirty || amountInput.touched)" class="error-message">
        Amount should be a number
      </div>
    </div>
    <div class="expense-button-container">
      <button class="add-expense-button" type="submit" [disabled]="expenseForm.invalid">Add Expense</button>
      <!-- Disable the button if the form is invalid -->
    </div>
  </form>
</div>
